<div class="container">

  <div class="starter-template">
    <h1>Oauth YEAH</h1>
    <p class="lead">Login/Register say What?</p>
    <a ng-click = "getLogin()"id = "fblogin" class="btn btn-primary btn-lg " role="button">Register</a>
    <a ng-click = "logout()"id = "fblogout" class="btn btn-primary btn-lg " role="button">Logout</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Quick and Simple</h2>
      <p>just register using another account</p>
    </div>
    <div class="col-md-4">
      <h2>We care about your safety</h2>
      <p>Register the right way in a trusted source</p>
    </div>
    <div class="col-md-4">
      <h2>It is this easy</h2>
      <p>Yes, it is this easy</p>
    </div>
  </div>

</div>