<div class="container">

  <div ng-app="myApp" ng-controller="LandingPageController" class="starter-template">
    <h1>Oauth YEAH</h1>
    <p class="lead">Login/Register say What?</p>

    <div ng-show="authData">
      <p>Hello, {{authData.facebook.displayName}}</p>
      <button  ng-click="logout()" class="btn btn-primary btn-lg"> Logout </button>
    </div>

    <div ng-hide="authData">
      <button ng-click = "auth.$authWithOAuthPopup('facebook')" class="btn btn-primary btn-lg"> Login With Facebook </button>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Quick and Simple</h2>
      <p>just register using another account</p>
    </div>
    <div class="col-md-4">
      <h2>We care about your safety</h2>
      <p>Register the right way in a trusted source</p>
    </div>
    <div class="col-md-4">
      <h2>It is this easy</h2>
      <p>Yes, it is this easy</p>
    </div>
  </div>
  <div id="fb-root"></div>

</div>